* {
    font-family: sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr 30fr;
    grid-template-columns: 0.2fr 1.2fr 1fr 1fr 5fr;

    padding: 0.5em;
    background-color: black;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
}

#logo-h1 {
    filter: drop-shadow(0 0 0.6em rgba(255, 255, 255, 0.2)) drop-shadow(0 0 1em rgba(0, 150, 255, 0.2));
    transition: filter 0.3s ease-in-out;
}

#logo-h1:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.6em rgba(255, 255, 255, 0.5)) drop-shadow(0 0 1em rgba(0, 150, 255, 0.5));
}

#logo-h1:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #00bfff, #00ff00);
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    filter: blur(0.6em) brightness(1.2);
}

#default-header {
    grid-row: 1;
    grid-column: span 5;

    background-color: #242424;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#default-header h1 {
    padding: 0.5em;
}

#default-header #identification {
    display: flex;
    flex-direction: row;
}

#default-header #identification {
    font-size: 1.5em;
}

#default-header #identification #inscription-container {
    position: relative;
    transition: transform 0.2s ease;
}

#default-header #identification #inscription-container:hover {
    transform: scale(1.04);
}

#default-header #identification #connexion-container {
    position: relative;
    transition: transform 0.2s ease;
}

#default-header #identification #connexion-container:hover {
    transform: scale(1.04);
}

#default-header #identification #connexion-container #connexion {
    background-color: #D9D9D9;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0 0.5em 0 1em;
    color: black;
}

.resize-playlist-list-2 {
    grid-column: span 1;
}

.resize-default-main-2 {
    grid-column: span 4;
}

.resize-playlist-list {
    grid-column: span 4;
}

.resize-default-main {
    grid-column: span 1;
}

.default-playlist-list {
    grid-column: span 2;
}

.default-main {
    grid-column: span 3;
}

#default-main {
    margin-top: 0.5em;
    background: linear-gradient(0deg, black 0, #242424);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#button-profil {
    font-size: 1em;
    margin-right: 0.5em;
    font-weight: bold;
    border: 0;
    border-radius: 624.938em;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    background-color: rgb(52, 52, 52);
}

#lettre-profil {
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    background-color: rgb(80, 155, 245);
    color: black;
    line-height: 1.5em;
}

#popupMenu {
    display: none;
    flex-direction: column;
    position: fixed;
    margin: 1em;
    top: 3em;
    right: -0.65em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideInFromLeft 0.5s forwards;
    background-color: #282828;
}

#popupMenu a {
    font-size: 0.75em;
    color: hsla(0, 0%, 100%, .9);
    padding: 1em;

    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#popupMenu a:hover {
    background-color: #383838;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}