body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
}

#menu-gauche{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 20%;
    height: 100vh; /* 100% of the viewport height */
    float: left; /* Use float left to make it side by side with the main content */
}

#main {
    overflow: auto; /* Add overflow:auto to handle content overflow */
    background-color: black;
    width: 100%;
}

#menu-haut{
    background-color:#222;
    width: 100%;
    height: 10vh;
    border-radius: 1%;
    margin: 2%;
}

#menu-gauche a{
    color: white;
    text-decoration: none;
}

.accueil, .recherche, .playlist{
    display: flex;
    flex-direction: row;
    align-items: center;

}

#menu-gauche img{
    width: 7%;
    height: auto;
    padding: 3%;
}

.accueil a, .accueil img[alt="Maison"],
.recherche a, .recherche img[alt="loupe"]{
    opacity: 0.7;
    transition: opacity 0.3s;
    cursor: pointer;
}

.playlist{
    display: flex;
    flex-direction: row;
    padding-right: 5%;
    padding-top: 5%;
}

.playlist a, .playlist img[alt="playlist"]{
    opacity: 0.7;
    transition: opacity 0.3s;
    cursor: pointer;
}

.plus{
    margin-left: auto;
    opacity: 0.5;
    transition: opacity 0.5s, transform 0.5s;
}

.fleche-droite{
    opacity: 0.5;
    transition: opacity 0.5s, transform 0.5s;
}

.plus:hover, .fleche-droite:hover{
    opacity: 1;
    transform: scale(1.2);
}

#menu-corps{
    background-color:#222;
    width: 100%;
    height: 90vh;
    border-radius: 1% ;
    margin: 2%;
    margin-top:0%;
}

header {
    background-color: #222;
    border-radius: 1% ;
    color: #fff;
    display: flex;
    justify-content: right;
    width: 100%;
    height: auto;
    margin-left: 0.5%;
    margin-top: 0.4%;
}

.header-buttons {
    display: flex;
    gap: 2%;
}

.header-button {
    margin-left: auto;
    padding: 5%;
    background-color: #1db954;
    color: #fff;
    text-decoration: none;
    border-radius: 10%;
    font-weight: bold;
    transition: background-color 0.3s;
}

.header-button:hover {
    background-color: #25b960;
}


