body {
    font-family: Arial, sans-serif;
}

#popupButton {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

#popupMenu {
    background-color: black;
    padding: 0.5em;
}

#popupMenu ul {
    padding: 0;
    list-style: none;
}

#popupMenu ul li {
    padding: 0.5em;
}

#popupMenu ul li a {
    text-decoration: none;
    color: #fff;
}

#popupMenu ul li:hover {
    background-color: hsla(0, 0%, 100%, .3);
}