#identification {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f5f5f5;
}

#identification .formulaire-identification {
    background-color: rgb(189, 219, 219);
    padding: 10em 10em;
    border-radius: 5%;
}

#identification .formulaire-identification input,
#identification .formulaire-identification .envoyer-formulaire {
    width: 100%;
    padding: 0.3em;
    font-size: 1.2em;
    border: none;
    background: none;
    margin: 0.5em;
}

#identification .formulaire-identification input:focus {
    outline: none;
}

#identification .slide-line {
    color: black;
}