* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: auto;
    background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%) #121212;
    background-repeat: no-repeat;
}

#header-identification {
    flex: 1;
    background-color: #121212;
    padding: 2% 3% 2% 3%;
    margin-bottom: 1em;
    align-items: center;
}

#header-identification div {
    display: flex;
    align-items: center;
}

#header-identification a{
    text-decoration: none;
    color: white;
}

#header-identification img {
    width: 2.5%;
    margin-right: 0.5%;
    cursor: pointer;
}

#main-identification {
    flex: 1000;
    display: flex;
    justify-content: center;
}

#main-identification-center {
    background-color: #121212;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
}

#identification-container h1 {
    color: white;
    padding: 3em 0 2em 0;
}

#identification {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#identification #nameuser,
#identification #mdp {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 80%;
}

#identification label {
    font-weight: bold;
    font-size: 0.8em;
    margin: 0.7em 0;
}

#identification input {
    padding: 1em;
    background-color: #121212;
    color: white;
    border: 0.001em solid gray;
    border-radius: 0.3em;
}

#identification input:hover {
    border: 0.001em solid white;
}

#identification input:focus {
    outline: 0.2em solid white;
}

#identification #se-identifier {
    text-align: center;
    width: 70%;
    font-weight: bold;
    background-color: #1ed760;
    color: black;
    padding: 0.8em;
    border-radius: 10em;
    text-decoration: none;
    margin: 2em;
    position: relative;
    transition: 0.3s;
}

#identification #mdp-oublie {
    text-align: center;
    padding-bottom: 10%;
    border-bottom: 0.1em solid #292929;
}

#identification #mot-de-passe-oublie {
    color: white;
}

#identification p {
    color: #a7a7a7;
    padding-top: 2em;
}

#identification p a {
    color: white;
}

#identification p a:hover,
#identification #mot-de-passe-oublie:hover{
    color: #1ed760;
    transform: scale(1.04);
}

#identification #se-identifier:hover {
    background-color: #1ed760;
    transform: scale(1.04);
}

/* Footer Identification */
#footer-identification {
    flex: 1;
    background-color: #121212;
    padding: 2em;
    color: gray;
    text-align: center;
    margin-top: 1em;
    height: auto;
}

/* Error Messages */
[id^="erreur-"] {
    display: none;
}