* {
    font-family: url("./static/font/font.otf");
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
}

#menu-gauche{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 20%;
    height: 100vh; /* 100% of the viewport height */
    float: left; /* Use float left to make it side by side with the main content */
    min-width: 20%;

}

#main {
    overflow: auto; /* Add overflow:auto to handle content overflow */
    background-color: black;
    width: 100%;
}

#menu-haut{
    background-color:#121212;
    padding-left: 5%;
    margin: 3%;
    border-radius: 0.75em;
    padding-top: 3%;
    padding-bottom: 3%;
}

#menu-gauche a{
    color: white;
    text-decoration: none;
    border-radius: 0.75em;
}

.acceuil, .recherche, .playlist{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#menu-gauche img{
    width: 7%;
    height: auto;
    padding: 4%;
}

#menu-gauche a{
    font-weight: bold;
}

.playlist{
    display: flex;
    flex-direction: row;
}

.plus{
    margin-left: auto;    
}

#menu-corps{
    background-color:#121212;
    height: 100%;
    margin: 3%;
    margin-top:0%;
    border-radius: 0.75em;
}

header {
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: right;
    width: 100%;
    height: auto;
    margin-left: 0.5%;
    margin-top: 0.4%;
}

.header-buttons {
    display: flex;
    gap: 2%;
}

.header-button {
    margin-left: auto;
    padding: 5%;
    background-color: #1db954;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.header-button:hover {
    background-color: #25b960;
}

.logo {
    padding-top: 2%;
    margin-left: 4%;
    padding-bottom: 2%;
}

